@charset "UTF8";


@font-face {
    font-family: 'copa1';
    src: url('../fonte/Qatar2022Arabic-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'copa2';
    src: url('../fonte/Qatar2022Arabic-Heavy.ttf') format('truetype');
}

:root{
    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-texto: 'copa1', arial, sans-serif;
    --fonte-destaque: 'copa2', arial, sans-serif;

    --cor00: rgba(160, 12, 54, 0.233);
    --cor0: rgb(158, 12, 54);
    --cor1: rgb(124, 7, 39);
    --cor2: rgb(96, 3, 30);
    --cor3: rgb(65, 1, 20);
    --cor4: rgb(43, 0, 12);
}

*{
    margin: 0px;
    padding: 0px;
}

h1, h2, h3 {
    padding: 10px;
    font-family: var(--fonte-texto);
}

h2 {
    font-size: 2em;
}

h2, h3 {
    color: var(--cor3);
}

body {
    background-color: var(--cor00);
}

header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor4));    
    color: white;
    font-family: var(--fonte-texto);
    padding: 10px;
}

header h1 {
    text-align: center;
    font-size: 3.5em;
    padding-top: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.541);
}

header nav {
    text-align: left;

}

nav a {
    font-size: 1em;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    
}

nav a:hover {
    text-decoration: underline;
    background-color: var(--cor0);
    transition-duration: 0.5s;
}


main {
    background-color: white;
    max-width: 800px;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.39);
}

section.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px 20px;
    
}

section {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

table {
    font-family: var(--fonte-texto);
    border-collapse: collapse;
    width: 370px;
}

caption {
    padding-bottom: 5px;
}

td {
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 20px;
    padding-left: 5px;
    font-size: 1em;
}

td img {
    display: inline-block;
    vertical-align: bottom;
}

#tbe {
    border-top: 1px solid rgba(0, 0, 0, 0.274);
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    border-left: 1px solid rgba(0, 0, 0, 0.274);
}

#tb {
    border-top: 1px solid rgba(0, 0, 0, 0.274);
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
}

#tdb {
    border-top: 1px solid rgba(0, 0, 0, 0.274);
    border-right: 1px solid rgba(0, 0, 0, 0.274);
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
}

#divisor {
    background-color: var(--cor3);
    color: white;
    padding: 20px;

    margin-right: -20px;
    margin-left: -20px;
}



footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    padding: 10px;
}

footer p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer p > a:hover {
    text-decoration: underline;
}