@charset "UTF8";


@font-face {
    font-family: 'copa1';
    src: url('../fonte/Qatar2022Arabic-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'copa2';
    src: url('../fonte/Qatar2022Arabic-Heavy.ttf') format('truetype');
}

:root{
    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-texto: 'copa1', arial, sans-serif;
    --fonte-destaque: 'copa2', arial, sans-serif;

    --cor00: rgba(160, 12, 54, 0.233);
    --cor0: rgb(158, 12, 54);
    --cor1: rgb(124, 7, 39);
    --cor2: rgb(96, 3, 30);
    --cor3: rgb(65, 1, 20);
    --cor4: rgb(43, 0, 12);
}

*{
    margin: 0px;
    padding: 0px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: auto;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

th {
    background-color: var(--cor0);
    color: white;
    border: 1px solid black;
    width: 20px;
    padding: 5px;
}

td {
    border-bottom: 1px solid black;
    padding: 5px;
}

td img {
    display: inline-block;
    vertical-align: bottom;
}

.bandeira {
    width: 180px;
}

.num {
    text-align: center;
}

#borda1, #borda2, #borda3, #borda4 {
    border-left: 1px solid black;
}

body {
    background-color: var(--cor00);
}

header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor4));    
    color: white;
    font-family: var(--fonte-texto);
    padding: 10px;
}

header h1 {
    text-align: center;
    font-size: 3.5em;
    padding-top: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.541);
}

header nav {
    text-align: left;

}

nav a {
    font-size: 1em;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    
}

nav a:hover {
    text-decoration: underline;
    background-color: var(--cor0);
    transition-duration: 0.5s;
}

main {
    background-color: white;
    max-width: 800px;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.39);
}

main h1 {
    font-family: var(--fonte-texto);
    
}

main h2 {
    font-family: var(--fonte-destaque);
    font-weight: lighter;
    padding: 10px;
}

main h3 {
    font-family: var(--fonte-texto);
    text-align: center;
    padding-top: 50px;
}

main #jogos {
    text-align: left;
    padding: 10px;
}

article {
    padding-top: 10px;
}

article p {
    font-family: var(--fonte-padrao);
    padding: 10px;
    text-indent: 30px;
    line-height: 1.5em;
}

article p > a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

article p > a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    padding: 20px;
}


section p {
    font-family: var(--fonte-texto);
    font-size: 1.2em;
}

footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    padding: 10px;
}

footer p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer p > a:hover {
    text-decoration: underline;
}

abbr {
    text-decoration: none;
}